.Main {
  display: flex;
  flex-direction: column;
  background-image: url('../../assets/background.png');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.Entro-main {
  font-family: 'Cinzel', serif;
  font-weight: 500;
  font-size: 3rem;
  color: rgb(255, 255, 255);

  margin-left: 10rem;
  margin-top: 5rem;
}
.Header-main {
  font-family: 'Cinzel', serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: rgb(201, 61, 129);

  margin-left: 10rem;
  margin-top: 0rem;
}
.Container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Filosofia-main {
  font-family: 'Cinzel', serif;
  font-weight: 300;
  font-size: 2rem;
  color: rgb(202, 89, 144);

  margin-left: 10rem;
  margin-top: 2rem;
}
.Imagens {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Prokofieff {
  width: 20rem;
  margin-right: 3rem;
  border-radius: 50%;
  border: solid 1rem rgb(202, 89, 144);
  transform: rotate(3deg);

  margin-top: -14rem;
}
.Sergei {
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(175, 54, 113);

  margin-left: -2rem;
  margin-top: 0rem;
}